.blockCenter {
    display: block;
    margin: 0 auto;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.width100 {
    width: 100%;
    border-radius: 3rem;
}

.width100:hover {
  background-color: blue;
}